[client]
port = 3306
socket = /var/lib/mysql/mysql.sock
[mysqld]
port = 3306
bind-address = 0.0.0.0
socket = /var/lib/mysql/mysql.sock
datadir = /var/lib/mysql
character_set_server = utf8
skip-name-resolve
default_storage_engine = InnoDB
transaction_isolation = REPEATABLE-READ
symbolic-links=0
thread_stack = 192K
tmp_table_size = 64M
performance_schema = 0
metadata_locks_hash_instances = 256
explicit_defaults_for_timestamp = ON
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
## Network
max_allowed_packet = 16M
max_connections = 1000
max_connect_errors = 10000
wait_timeout = 600
## BinaryLog
log_bin = mysql-bin
binlog_format = MIXED
expire_logs_days = 1
## Log
sync_binlog = 1
log_slave_updates

## Replication
server-id = 102144
slave_net_timeout = 30
relay_log = mysqld-relay-bin

## Buffer
sort_buffer_size = 2M
join_buffer_size = 1M

## Cache
table_open_cache = 2000
thread_cache_size = 100
query_cache_type = 0
query_cache_size = 0
binlog_cache_size = 16M
max_heap_table_size = 64M
tmp_table_size = 64M
thread_cache_size = 1000

## Log
log_output = FILE
general_log = OFF
log_error = /var/log/mysql/mysqld.log

## Slow Log
slow_query_log = 1
slow_query_log-file = /var/log/mysql/mysql-slow.log
long_query_time = 0.1
#log_queries_not_using_indexes

## InnoDB
innodb_strict_mode
innodb_buffer_pool_size = 11G
innodb_data_file_path = ibdata1:12M:autoextend
innodb_log_buffer_size = 16M
innodb_log_file_size = 256M
innodb_doublewrite = 0
innodb_read_io_threads = 4
innodb_write_io_threads = 4
innodb_lock_wait_timeout = 5
innodb_support_xa = 1
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_file_per_table
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_file_format_check = 1
innodb_print_all_deadlocks
innodb_large_prefix
innodb_io_capacity = 200
innodb_io_capacity_max = 2000
innodb_buffer_pool_instances = 1
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_thread_concurrency = 0
innodb_sync_spin_loops = 30
innodb_open_files = 2000
innodb_thread_sleep_delay = 1000
innodb_adaptive_max_sleep_delay = 0

## MyISAM
key_buffer_size = 8M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 16M
myisam_repair_threads = 1
ft_min_word_len = 4

[mysqldump]
quick
max_allowed_packet = 128M
default-character-set = utf8

[mysql]
no-auto-rehash
default-character-set = utf8

[myisamchk]
key_buffer = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open-files-limit = 8192
